<div *ngIf="isLoading" class="progress">
  <div class="indeterminate"></div>
</div>
<div *ngIf="!isLoading">
  <div class="card blue-grey darken-1">
    <div class="card-image">
      <img src="http://petervertesi.com/images/western-cover-2.jpg" class="character-sheet-cover">
      <h4 class="card-title character-sheet-title">{{character.name}}</h4>
    </div>
    <div class="card-content">
      <div fxLayout="row wrap">
        <div class="card-panel character-sheet-section" fxFlex="100%">
          <p>Occupation: <span title="{{character.template.desc}}">{{character.template.name}}</span></p>
          <p>Sex: {{character.sex}}</p>
          <p>Age: {{character.age}}</p>
        </div>
        <!-- SECTION: ATTRIBUTES -->
        <div class="card-panel character-sheet-section" fxFlex="100%">
          <h5 class="card-title character-sheet-section-title">Attributes</h5>
          <div class="card-content" fxLayout="row wrap" fxLayoutGap="10px">
            <div class="card-panel character-sheet-subsection" fxFlex="45%" fxFlex.lt-md="100%">
              <h6 class="card-title character-sheet-subsection-title">Physical</h6>
              <div class="card-content">
                <table>
                  <tr>
                    <td>Brawn</td>
                    <td>
                      <i class="fas fa-square" *ngIf="character.attributes.brawn>0"></i>
                      <i class="far fa-square" *ngIf="character.attributes.brawn<1"></i>
                    </td>
                    <td>
                      <i class="fas fa-square" *ngIf="character.attributes.brawn>1"></i>
                      <i class="far fa-square" *ngIf="character.attributes.brawn<2"></i>
                    </td>
                    <td>
                      <i class="fas fa-square" *ngIf="character.attributes.brawn>2"></i>
                      <i class="far fa-square" *ngIf="character.attributes.brawn<3"></i>
                    </td>
                    <td>
                      <i class="fas fa-square" *ngIf="character.attributes.brawn>3"></i>
                      <i class="far fa-square" *ngIf="character.attributes.brawn<4"></i>
                    </td>
                    <td>
                      <i class="fas fa-square" *ngIf="character.attributes.brawn>4"></i>
                      <i class="far fa-square" *ngIf="character.attributes.brawn<5"></i>
                    </td>
                    <td>
                      <i class="fas fa-square" *ngIf="character.attributes.brawn>5"></i>
                      <i class="far fa-square" *ngIf="character.attributes.brawn<6"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Agility</td>
                    <td>
                      <i class="fas fa-square" *ngIf="character.attributes.agility>0"></i>
                      <i class="far fa-square" *ngIf="character.attributes.agility<1"></i>
                    </td>
                    <td>
                      <i class="fas fa-square" *ngIf="character.attributes.agility>1"></i>
                      <i class="far fa-square" *ngIf="character.attributes.agility<2"></i>
                    </td>
                    <td>
                      <i class="fas fa-square" *ngIf="character.attributes.agility>2"></i>
                      <i class="far fa-square" *ngIf="character.attributes.agility<3"></i>
                    </td>
                    <td>
                      <i class="fas fa-square" *ngIf="character.attributes.agility>3"></i>
                      <i class="far fa-square" *ngIf="character.attributes.agility<4"></i>
                    </td>
                    <td>
                      <i class="fas fa-square" *ngIf="character.attributes.agility>4"></i>
                      <i class="far fa-square" *ngIf="character.attributes.agility<5"></i>
                    </td>
                    <td>
                      <i class="fas fa-square" *ngIf="character.attributes.agility>5"></i>
                      <i class="far fa-square" *ngIf="character.attributes.agility<6"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Mettle</td>
                    <td>
                      <i class="fas fa-square" *ngIf="character.attributes.mettle>0"></i>
                      <i class="far fa-square" *ngIf="character.attributes.mettle<1"></i>
                    </td>
                    <td>
                      <i class="fas fa-square" *ngIf="character.attributes.mettle>1"></i>
                      <i class="far fa-square" *ngIf="character.attributes.mettle<2"></i>
                    </td>
                    <td>
                      <i class="fas fa-square" *ngIf="character.attributes.mettle>2"></i>
                      <i class="far fa-square" *ngIf="character.attributes.mettle<3"></i>
                    </td>
                    <td>
                      <i class="fas fa-square" *ngIf="character.attributes.mettle>3"></i>
                      <i class="far fa-square" *ngIf="character.attributes.mettle<4"></i>
                    </td>
                    <td>
                      <i class="fas fa-square" *ngIf="character.attributes.mettle>4"></i>
                      <i class="far fa-square" *ngIf="character.attributes.mettle<5"></i>
                    </td>
                    <td>
                      <i class="fas fa-square" *ngIf="character.attributes.mettle>5"></i>
                      <i class="far fa-square" *ngIf="character.attributes.mettle<6"></i>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="card-panel character-sheet-subsection" fxFlex="45%" fxFlex.lt-md="100%">
              <h6 class="card-title character-sheet-subsection-title">Mental</h6>
              <div class="card-content">
                <table>
                  <tr>
                    <td>Insight</td>
                    <td>
                      <i class="fas fa-square" *ngIf="character.attributes.insight>0"></i>
                      <i class="far fa-square" *ngIf="character.attributes.insight<1"></i>
                    </td>
                    <td>
                      <i class="fas fa-square" *ngIf="character.attributes.insight>1"></i>
                      <i class="far fa-square" *ngIf="character.attributes.insight<2"></i>
                    </td>
                    <td>
                      <i class="fas fa-square" *ngIf="character.attributes.insight>2"></i>
                      <i class="far fa-square" *ngIf="character.attributes.insight<3"></i>
                    </td>
                    <td>
                      <i class="fas fa-square" *ngIf="character.attributes.insight>3"></i>
                      <i class="far fa-square" *ngIf="character.attributes.insight<4"></i>
                    </td>
                    <td>
                      <i class="fas fa-square" *ngIf="character.attributes.insight>4"></i>
                      <i class="far fa-square" *ngIf="character.attributes.insight<5"></i>
                    </td>
                    <td>
                      <i class="fas fa-square" *ngIf="character.attributes.insight>5"></i>
                      <i class="far fa-square" *ngIf="character.attributes.insight<6"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Wits</td>
                    <td>
                      <i class="fas fa-square" *ngIf="character.attributes.wits>0"></i>
                      <i class="far fa-square" *ngIf="character.attributes.wits<1"></i>
                    </td>
                    <td>
                      <i class="fas fa-square" *ngIf="character.attributes.wits>1"></i>
                      <i class="far fa-square" *ngIf="character.attributes.wits<2"></i>
                    </td>
                    <td>
                      <i class="fas fa-square" *ngIf="character.attributes.wits>2"></i>
                      <i class="far fa-square" *ngIf="character.attributes.wits<3"></i>
                    </td>
                    <td>
                      <i class="fas fa-square" *ngIf="character.attributes.wits>3"></i>
                      <i class="far fa-square" *ngIf="character.attributes.wits<4"></i>
                    </td>
                    <td>
                      <i class="fas fa-square" *ngIf="character.attributes.wits>4"></i>
                      <i class="far fa-square" *ngIf="character.attributes.wits<5"></i>
                    </td>
                    <td>
                      <i class="fas fa-square" *ngIf="character.attributes.wits>5"></i>
                      <i class="far fa-square" *ngIf="character.attributes.wits<6"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Resolve</td>
                    <td>
                      <i class="fas fa-square" *ngIf="character.attributes.resolve>0"></i>
                      <i class="far fa-square" *ngIf="character.attributes.resolve<1"></i>
                    </td>
                    <td>
                      <i class="fas fa-square" *ngIf="character.attributes.resolve>1"></i>
                      <i class="far fa-square" *ngIf="character.attributes.resolve<2"></i>
                    </td>
                    <td>
                      <i class="fas fa-square" *ngIf="character.attributes.resolve>2"></i>
                      <i class="far fa-square" *ngIf="character.attributes.resolve<3"></i>
                    </td>
                    <td>
                      <i class="fas fa-square" *ngIf="character.attributes.resolve>3"></i>
                      <i class="far fa-square" *ngIf="character.attributes.resolve<4"></i>
                    </td>
                    <td>
                      <i class="fas fa-square" *ngIf="character.attributes.resolve>4"></i>
                      <i class="far fa-square" *ngIf="character.attributes.resolve<5"></i>
                    </td>
                    <td>
                      <i class="fas fa-square" *ngIf="character.attributes.resolve>5"></i>
                      <i class="far fa-square" *ngIf="character.attributes.resolve<6"></i>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- SECTION: CALCULATED VALUES -->
        <div class="card-panel character-sheet-section" fxFlex="100%">
          <h5 class="card-title character-sheet-section-title"></h5>
          <div class="card-content" fxLayout="row wrap" fxLayoutGap="10px">
            <div class="card-panel character-sheet-subsection" fxFlex="28%" fxFlex.lt-md="100%">
              <span class="calculated-text character-sheet-subsection-title">Hit Points: </span>
              <span class="calculated-value character-sheet-subsection-title">{{CalculateValues(character.attributes).hp}}</span>
            </div>
            <div class="card-panel character-sheet-subsection" fxFlex="30%" fxFlex.lt-md="100%">
              <span class="calculated-text character-sheet-subsection-title">Dueling Score: </span>
              <span class="calculated-value character-sheet-subsection-title">{{CalculateValues(character.attributes).ds}}</span>
            </div>
            <div class="card-panel character-sheet-subsection" fxFlex="38%" fxFlex.lt-md="100%">
              <span class="calculated-text character-sheet-subsection-title">Strength of Nerve: </span>
              <span class="calculated-value character-sheet-subsection-title">{{CalculateValues(character.attributes).son}}</span>
            </div>
          </div>
        </div>
        <!-- SECTION: SKILLS -->
        <div class="card-panel character-sheet-section" fxFlex="100%">
          <h5 class="card-title character-sheet-section-title">Skills</h5>
          <div class="card-content" fxLayout="row wrap" fxLayoutGap="10px">
            <table>
              <thead>
                <tr>
                  <th>Skill</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let skill in character.skills">
                  <td>{{skill.name}}</td>
                  <td>{{skill.description}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- SECTION: SPECIAL -->
        <div class="card-panel character-sheet-section" fxFlex="100%">
          <h5 class="card-title character-sheet-section-title">Special Skills and Voodoo Spells</h5>
          <div class="card-content" fxLayout="row wrap" fxLayoutGap="10px">
            <table>
              <thead>
                <tr>
                  <th>Special Skill</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let skill in character.special">
                  <td>{{skill.name}}</td>
                  <td>{{skill.description}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- SECTION: EQUIPMENT -->
        <div class="card-panel character-sheet-section" fxFlex="100%">
          <h5 class="card-title character-sheet-section-title">Equipment</h5>
          <div class="card-content" fxLayout="row wrap" fxLayoutGap="10px">
            <table>
              <thead>
                <tr>
                  <th>Equipment</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item in character.equipment">
                  <td>{{item.name}}</td>
                  <td>{{item.description}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      </div>
  </div>
</div>
