<div *ngIf="isLoading" class="progress">
  <div class="indeterminate"></div>
</div>
<div *ngIf="!isLoading">
  <div class="card-panel characters-card">
    <h4 class="card-title">My Characters (<span *ngIf="!characters">0</span><span *ngIf="characters">{{characters.length}}</span>)  <a class="waves-effect waves-light btn brown darken-4" routerLink="create">Create</a></h4>
    <div *ngIf="!characters">No characters.</div>
    <div *ngIf="characters" fxLayout="row wrap" fxLayoutGap="10px">
      <div fxFlex="45%" fxFlex.lt-md="100%" *ngFor="let character of characters">
        <div class="card brown hoverable">
          <div class="card-image">
            <img src="http://petervertesi.com/images/western-cover-2.jpg" (click)="ViewCharacter(character)">
            <span class="card-title character-name" (click)="ViewCharacter(character)">{{character.name}}</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red" (click)="DeleteCharacter(character)"><i class="material-icons">delete</i></a>
          </div>
          <div class="card-content white-text" (click)="ViewCharacter(character)">
            <p>Occupation: <span title="{{character.template.desc}}">{{character.template.name}}</span></p>
            <p>Sex: {{character.sex}}</p>
            <p>Age: {{character.age}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
